<section id="services" class="text-center">
  <h2>Services</h2>
  <div class="row justify-content-center">
    <% @services.each do |service| %>
      <div class="col-lg-4 col-md-6 my-4">
        <%= fa_icon service.icon %>
        <%= content_tag :h4, service.name %>
        <%= content_tag :p, service.description, class: 'text-muted' %>
      </div>
    <% end %>
  </div>
</section>
