// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
  min-height: 75rem;
  padding-top: 4.5rem;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

#services .fa {
  font-size: 50px;
}

footer {
  background-color: #f5f5f5;
}
