// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
  padding-top: 4.5rem;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

section {
  min-height:100vh;
}

footer {
  background-color: #f5f5f5;
}

.plan-basic {
  &.card {
    border-color: rgba(95,211,149,1);
  }
  .card-header {
    background: linear-gradient(to right, rgba(95,211,149,1) 0%, rgba(59,201,132,1) 100%);
  }
}

.plan-pro {
  &.card {
    border-color: rgba(73,155,234,1);
  }
  .card-header {
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  }
}

.plan-premium {
  &.card {
    border-color: rgba(203,96,179,1);
  }
  .card-header {
    background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgba(168,0,119,1) 100%);
  }
}

.card {
  height: 100%;
}
